In [1]:
import pandas as pd

In [5]:
clientes_df = pd.read_csv("telecom_clients_us.csv")
clientes_df.head(10)

   user_id tariff_plan  date_start
0   166713           A  2019-08-15
1   166901           A  2019-08-23
2   168527           A  2019-10-29
3   167097           A  2019-09-01
4   168193           A  2019-10-16
5   167764           A  2019-09-30
6   167050           A  2019-08-29
7   168252           A  2019-10-17
8   168495           A  2019-10-28
9   167879           A  2019-10-03

In [13]:
data_df = pd.read_csv("telecom_dataset_us.csv")
data_df.tail(15)

,user_id,date,direction,internal,operator_id,is_missed_call,calls_count,call_duration,total_call_duration
53887,168603,2019-11-21 00:00:00+03:00,out,False,959118.0,False,5,338,423
53888,168603,2019-11-27 00:00:00+03:00,out,False,959118.0,False,1,76,99
53889,168603,2019-11-28 00:00:00+03:00,in,False,NaN,True,1,0,30
53890,168606,2019-11-08 00:00:00+03:00,out,False,957922.0,True,2,0,40
53891,168606,2019-11-08 00:00:00+03:00,in,False,957922.0,True,1,0,7
53892,168606,2019-11-08 00:00:00+03:00,out,False,957922.0,False,2,255,328
53893,168606,2019-11-08 00:00:00+03:00,in,False,NaN,True,6,0,121
53894,168606,2019-11-08 00:00:00+03:00,in,False,957922.0,False,2,686,705
53895,168606,2019-11-09 00:00:00+03:00,out,False,957922.0,False,4,551,593
53896,168606,2019-11-10 00:00:00+03:00,out,True,957922.0,False,1,0,25
53897,168606,2019-11-10 00:00:00+03:00,out,True,957922.0,True,1,0,38
53898,168606,2019-11-11 00:00:00+03:00,out,True,957922.0,False,2,479,501
53899,168606,2019-11-15 00:00:00+03:00,out,True,957922.0,False,4,3130,3190
53900,168606,2019-11-15 00:00:00+03:00,out,True,957922.0,False,4,3130,3190
53901,168606,2019-11-19 00:00:00+03:00,in,False,NaN,True,2,0,64